.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 3px;
    z-index: 1000;
}

.modal-header,
.modal-footer {
    padding: 10px 15px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.modal-body h3 {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 8px;
}
